<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btb.nixorstudentapplication">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".Misc.sms_broadcast.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".welcome_screen">

        </activity>
        <activity android:name=".Autentication.login_screen" />
        <activity android:name=".Autentication.nsp_web.portal_login" />
        <activity android:name=".Application_Home.home_screen" />
        <activity android:name=".Autentication.User.AccountType" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Past_papers.Load_papers" />
        <activity android:name=".Past_papers.PdfLoad" />
        <activity
            android:name=".Past_papers.pastpapers_filter"
            android:theme="@style/AlertDialogCustom" />
        <activity
            android:name=".BookMyTa.Main_Activity_Ta_Tab"
            android:label="@string/title_activity_ta_tab"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>